@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a3636;
  background: #fbf6e9;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "BacasimeAntique";
  src: url("/Fonts/BacasimeAntique-Regular.ttf") format("truetype");
}
